html {
	font-size: 13px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}

a{
    text-decoration: none;
    display: flex;
    justify-content: center;
}
.header1{
    background-color: #3D0066;
    padding: 25px;
    opacity: 80%;
    border-radius: 0px 0px 40px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header1 h4{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: white;
    font-size: 1.7rem;
    padding: 30px;
    margin-left: 780px;
}
.container1 a{
    flex-direction: row;
    display: flex;
    padding: 15px;
    border-radius: 20px;
    background-color: #FFD500;
    margin-left: 700px;
    margin-top: 80px;
    height: 40px;
    width: 450px;
}
.container1 a:hover{
    background-color: #e5bf03;
}
.container1 p{
    font-size: 1.6rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
}
.container2 a{
    flex-direction: row;
    display: flex;
    padding: 15px;
    border-radius: 20px;
    background-color: #FFD500;
    margin-left: 700px;
    margin-top: 50px;
    height: 40px;
    width: 450px;
}
.container2 a:hover{
    background-color: #e5bf03;
}
.container2 p{
    font-size: 1.6rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
}
.container3 a{
    flex-direction: row;
    display: flex;
    padding: 15px;
    border-radius: 20px;
    background-color: #FFD500;
    margin-left: 700px;
    margin-top: 50px;
    height: 40px;
    width: 450px;
}
.container3 a:hover{
    background-color: #e5bf03;
}
.container3 p{
    font-size: 1.6rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
}
.container4 a{
    flex-direction: row;
    display: flex;
    padding: 15px;
    border-radius: 20px;
    background-color: #FFD500;
    margin-left: 700px;
    margin-top: 50px;
    height: 40px;
    width: 450px;
}
.container4 a:hover{
    background-color: #e5bf03;
}
.container4 p{
    font-size: 1.6rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
}
.container5 a{
    flex-direction: row;
    display: flex;
    padding: 15px;
    border-radius: 20px;
    background-color: #FFD500;
    margin-left: 700px;
    margin-top: 50px;
    height: 40px;
    width: 450px;
}
.container5 a:hover{
    background-color: #e5bf03;
}
.container5 p{
    font-size: 1.6rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
}

@media only screen and (max-width: 480px){
    
    .header1 h4{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        color: white;
        font-size: 1.7rem;
        padding: 30px;
        margin-left: 20px;
    }
    
    .container1 a{
        flex-direction: row;
        display: flex;
        padding: 20px;
        background-color: #FFD500;
        border-radius: 20px;
        margin-left: 15px;
        margin-top: 50px;
        height: 20px;
        width: 340px;
    }
    
    .container1 p{
        font-size: 1.4rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: white;
    }
    
    .container2 a{
        flex-direction: row;
        display: flex;
        padding: 20px;
        background-color: #FFD500;
        border-radius: 20px;
        margin-left: 15px;
        margin-top: 50px;
        height: 20px;
        width: 340px;
    }
    
    .container2 p{
        font-size: 1.4rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: white;
    }

    .container3 a{
        flex-direction: row;
        display: flex;
        padding: 20px;
        background-color: #FFD500;
        border-radius: 20px;
        margin-left: 15px;
        margin-top: 50px;
        height: 20px;
        width: 340px;
    }
    
    .container3 p{
        font-size: 1.4rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: white;
    }

    .container4 a{
        flex-direction: row;
        display: flex;
        padding: 20px;
        background-color: #FFD500;
        border-radius: 20px;
        margin-left: 15px;
        margin-top: 50px;
        height: 20px;
        width: 340px;
    }
    
    .container4 p{
        font-size: 1.4rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: white;
    }

    .container5 a{
        flex-direction: row;
        display: flex;
        padding: 20px;
        background-color: #FFD500;
        border-radius: 20px;
        margin-left: 15px;
        margin-top: 50px;
        height: 20px;
        width: 340px;
    }
    
    .container5 p{
        font-size: 1.4rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: white;
    }
}
